<nav class="navbar navbar-custom" role="navigation">
  <a class="navbar-brand" href="#">
        <!-- <img src="http://placehold.it/100x40" alt="Logo Here"> -->
        <h3 style="margin-left: 30px"><b>UMN eSports</b></h3>
    </a>

    <ul class="list-inline pull-right">
      <li class="nav-item">
        <a class="nav-link" ui-sref-active="active" ui-sref="app.home">
                  Home
                </a>
      </li>
      <li class="nav-item">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">CHOOSE GAME
        <span class="caret"></span></button>
        <ul class="dropdown-menu pull-right">
           <li>
            <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.dota">
            Dota
            </a>
          </li>
          <li>
            <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.lol">
            League of Legends
            </a>
          </li>
          <li>
            <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.hs">
            Hearthstone
            </a>
          </li>
          <li>
            <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.ow">
            Overwatch
            </a>
          </li>
          <li>
            <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.hots">
            Heroes of the Storm
            </a>
          </li>
          <li>
            <a class="nav-link"
            ui-sref-active="active"
            ui-sref="app.rl">
            Rocket League
            </a>
          </li>
        </ul>
      </li>
    </ul>

</nav>

</div>
</nav>